<a href="https://colab.research.google.com/github/XuanJanice/Calculator-Program/blob/main/Weekly_Sales_Reporting_Xuan_21238251.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Step 0 - Problem Solving Methodology
This program is following 6 step methodology

1.   State the problem clearly
2.   Describe the input and output information
3.   Work the problem by hand
4.   Develop an algorithm 
5.   Convert algorithm to python
6.   Test solution with a variety of data

# Step 1 - Problem statement
> Collect and analyse the weekly sales activity by computer the average of daily sales and the average of weekly sales. Then plot the average daily sales and average weekly sales figures.

# Step 2 - Describe inputs and outputs
This step describes inputs that are given by the problem outputs that are identified to compute the problem.

| Input         | Output                     |
|---------------|----------------------------|
|employee's name|                            |
|daily sales    |weekly sales                |
|               |average of daily sales      |
|               |average of weekly sales     |
|               |plot of avearage daily sales|
|               |and average weekly sales    |

# Step 3 - Work the problem by hand
Assume the collected data for one week:
![image.png]()

By hand, the average daily sales is:
> Daily sales of Monday = (150+100+80+200+120)/5 = 650/5 = 130

> Daily sales of Tuesday = (200+250+130+300+155)/5 = 1035/5 = 207

> Daily sales of Wednesday = (220+120+108+220+350)/5 = 1018/5 = 203.6

> Daily sales of Thurseday = (200+180+250+280+200)/5 = 1110/5 = 222

> Daily sales of Friday = (125+150+200+185+150)/5 = 810/5 = 162

> Average of daily sales = (130+207+203.6+222+162)/5 = 184.92

And the average weekly sales is:

> Weekly sales of John = 150+200+220+200+125 = 895

> Weekly sales of Alice = 100+250+120+180+150 = 800

> Weekly sales of Daisy = 80+130+108+250+200 = 768

> Weekly sales of Lily = 200+300+220+280+185 = 1185

> Weekly sales of Rpnny = 120+155+350+200+150 = 975

> Average of weekly dales = (895+800+768+1185+975)/5 = 924.6

# Step 4 - Develop an algorithm
- Collect employee's name and the sales of each day of the week (Monday to Friday)
- Store the data to a file
- Calculate the average sales for each day and also store it to file
- Plot graphs to display each day sales and the average weekly sales

# Step 5 - Convert algorithm to python

Collect employee's name and the sales of each day of the week

In [4]:
# define the function of collect employee's name and their each day sales
'''
this function is used to collect employee's name and their each day sales
data type of name should be string
data type of day sales should be float number
'''
def collectData(name, daily_sales):

  employee_name = (input("Please enter the employee's name.")) # get the name of employee
  # use try/except to validate inputs
  # try to store the input as a float number, if errors happen, notify the correct type of inputs for the user
  while True:
    try:
      Mon_sales = float(input("Enter the sales of Monday.")) # the input of Mon_sales is limited to float number
      break # use break to stop the data collection
    except:
      print("Invalid input for the sales of Monday. Please enter a numeric number for the sales of Monday.") # notify the correct type of the input
  
  print("Sales of Monday is: ", Mon_sales) # dispaly the input - sales of Monday

  # use similar codes to get the sales of other four days in one week - Tuesday, Wednesday, Thursday and Friday
  while True:
    try:
      Tue_sales = float(input("Enter the sales of Tuesday.")) # the input of Tue_sales is limited to float number
      break # use break to stop the data collection
    except:
      print("Invalid input for the sales of Tuesday. Please enter a numeric number for the sales of Tuesday.") # notify the correct type of the input
  
  print("Sales of Tuesday is: ", Tue_sales) # dispaly the input - sales of Tuesday

  while True:
    try:
      Wed_sales = float(input("Enter the sales of Wednesday.")) # the input of Wed_sales is limited to float number
      break # use break to stop the data collection
    except:
      print("Invalid input for the sales of Wednesday. Please enter a numeric number for the sales of Wednesday.") # notify the correct type of the input
  
  print("Sales of Wednesday is: ", Wed_sales) # dispaly the input - sales of Wednesday

  while True:
    try:
      Thur_sales = float(input("Enter the sales of Thursday.")) # the input of Thur_sales is limited to float number
      break # use break to stop the data collection
    except:
      print("Invalid input for the sales of Thursday. Please enter a numeric number for the sales of Thursday.") # notify the correct type of the input
  
  print("Sales of Thursday is: ", Thur_sales) # dispaly the input - sales of Thursday

  while True:
    try:
      Fri_sales = float(input("Enter the sales of Friday.")) # the input of Fri_sales is limited to float number
      break # use break to stop the data collection
    except:
      print("Invalid input for the sales of Friday. Please enter a numeric number for the sales of Friday.") # notify the correct type of the input
  
  print("Sales of Friday is: ", Fri_sales) # dispaly the input - sales of Friday

  return employee_name, Mon_sales, Tue_sales, Wed_sales, Thur_sales, Fri_sales

In [5]:
collectData("employee's name", "daily sales")

Please enter the employee's name.John
Enter the sales of Monday.e
Invalid input for the sales of Monday. Please enter a numeric number for the sales of Monday.
Enter the sales of Monday.150
Sales of Monday is:  150.0
Enter the sales of Tuesday.d
Invalid input for the sales of Monday. Please enter a numeric number for the sales of Tuesday.
Enter the sales of Tuesday.200
Sales of Tuesday is:  200.0
Enter the sales of Wednesday.e
Invalid input for the sales of Wednesday. Please enter a numeric number for the sales of Wednesday.
Enter the sales of Wednesday.220
Sales of Wednesday is:  220.0
Enter the sales of Thursday.rr
Invalid input for the sales of Thursday. Please enter a numeric number for the sales of Thursday.
Enter the sales of Thursday.200
Sales of Thursday is:  200.0
Enter the sales of Friday.er
Invalid input for the sales of Friday. Please enter a numeric number for the sales of Friday.
Enter the sales of Friday.125
Sales of Friday is:  125.0

('John', 150.0, 200.0, 220.0, 200.0, 125.0)

# Step 6 - Test solution with a variety of data